@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--p-family);
}

:root {
  --p-family: "Montserrat", sans-serif;

  --p-color-light: #ffffff;
  --a-color-dark: #191f29;
  --a-color-light: #ebdbbf;

  --fs--2: clamp(0.6076rem, 0.5885rem + 0.0958vi, 0.7035rem);
  --fs--1: clamp(0.7292rem, 0.6875rem + 0.2086vi, 0.9377rem);
  --fs-0: clamp(0.875rem, 0.8rem + 0.375vi, 1.25rem);
  --fs-1: clamp(1.05rem, 0.9268rem + 0.6163vi, 1.6663rem);
  --fs-2: clamp(1.26rem, 1.0678rem + 0.9611vi, 2.2211rem);
  --fs-3: clamp(1.512rem, 1.2223rem + 1.4487vi, 2.9607rem);
  --fs-4: clamp(1.8144rem, 1.3879rem + 2.1323vi, 3.9467rem);
  --fs-5: clamp(2.1773rem, 1.5606rem + 3.0836vi, 5.2609rem);
  --fs-6: clamp(2.6127rem, 1.7327rem + 4.4001vi, 7.0128rem);
  --fs-7: clamp(3.1353rem, 1.8927rem + 6.2128vi, 9.3481rem);
}

body,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: var(--p-color-light);
}

/* Page-0 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.image-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)),
    url(images/bg_02_big_edit_warm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  object-fit: cover;
  margin: 0;
}

header {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max(90%);
  height: 15vh;
  color: var(--p-color-light);
  font-size: var(--fs-1);
  font-weight: 300;
}

header img {
  width: 4em;
}

.menu-button {
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.menu-button span {
  width: 50px;
  height: 2px;
  background: var(--p-color-light);
  display: block;
  transition: all 0.4s ease;
  margin: 16px auto;
}

body:has(.menu-visibility) span {
  background: white;
}

body:has(.menu-visibility) .line:nth-child(1) {
  transform: translateY(18px) rotate(45deg);
}

body:has(.menu-visibility) .line:nth-child(2) {
  opacity: 0;
}

body:has(.menu-visibility) .line:nth-child(3) {
  transform: translateY(-18px) rotate(-45deg);
}

.disable-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.menu {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.4s ease;
  z-index: -10;
  opacity: 0;
}
.menu-visibility {
  z-index: 2;
  opacity: 1;
}

.menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.3s ease;
}

.menu ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  font-size: var(--fs-1);
}
.menu ul li {
  letter-spacing: 5px;
  padding-block: 1em;
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.3s ease;
  text-transform: uppercase;
  transform: translateY(-100%);
  opacity: 0;
  cursor: pointer;
  width: 15em;
}
.menu ul li:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: white;
  margin-top: 0.5em;
  transition: all 0.3s ease;
}

.menu ul li:hover a {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.menu ul li:hover:after {
  width: 100%;
}

body:has(.menu-visibility) .menu ul li:nth-child(1) {
  animation: 280ms ease-in-out 0.15s reveal forwards;
}
body:has(.menu-visibility) .menu ul li:nth-child(2) {
  animation: 280ms ease-in-out 0.3s reveal forwards;
}
body:has(.menu-visibility) .menu ul li:nth-child(3) {
  animation: 280ms ease-in-out 0.45s reveal forwards;
}
body:has(.menu-visibility) .menu ul li:nth-child(4) {
  animation: 280ms ease-in-out 0.6s reveal forwards;
}
body:has(.menu-visibility) .menu ul li:nth-child(5) {
  animation: 280ms ease-in-out 0.75s reveal forwards;
}

@keyframes reveal {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: auto;
}

.landing-section {
  height: min(85vh);
}

.flex-0 {
  display: flex;
  width: max(80%);
  align-items: center;
  justify-content: stretch;
}

.flex-0-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  padding-bottom: 2%;
  margin-bottom: 3em;
}

.flex-0-text h1 {
  font-size: var(--fs-4);
  margin-bottom: 1rem;
  font-weight: 500;
}

.flex-0-text p {
  font-size: var(--fs-1);
  margin-bottom: 3rem;
  font-weight: 200;
}

.btn-info,
.btn-image {
  padding: 1.2em 5em;
  text-align: center;
  background: linear-gradient(90deg, rgb(37, 52, 72) 0%, rgb(29, 40, 55) 60%),
    var(--a-color-dark);
  border-bottom: 4px solid var(--a-color-light);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--fs--1);
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  transition: all 0.2s ease;
}

.btn-info:hover,
.btn-image:hover,
.btn-info:focus,
.btn-image:focus {
  box-shadow: inset 0 -6em 0 0 var(--a-color-light);
  color: var(--a-color-dark);
}

.flex-0-poly {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

/* --- Bilder Polygone --- */

.polygon-box {
  justify-content: center;
  display: none;
  align-items: center;
  flex: 1;
}

.landing-polygon-01 {
  width: 12vw;
  height: 22vw;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background: url(images/img_arrival_small_edit.jpg);
  background-size: cover;
  background-position: center;
}
.landing-polygon-02 {
  width: 16vw;
  height: 36vw;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background: url(images/img_plane_small_edit.jpg);
  background-size: cover;
}
.poly-wrap-01 {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 1));
}
.poly-wrap-02 {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 1));
}

.infovideo-modal {
  opacity: 0;
  z-index: -10;
  transition: all 0.4s ease;
  max-width: 60%;
}

.infovideo-modal-visibility {
  z-index: 900;
  opacity: 1;
}

.infovideo-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.4s ease;
  z-index: -10;
  opacity: 0;
  display: grid;
  place-items: center;
}

.info-video {
  width: 100%;
  height: 100%;
}

.infovideo-bg-visibility {
  z-index: 800;
  opacity: 1;
}

/* Page-1 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.page-1 {
  background: var(--a-color-dark);
  padding: 6em 0;
}

.flex-1 {
  margin-inline: auto;
  width: max(90%);
  display: flex;
}

.flex-1-content {
  padding: 5%;
}

.flex-1-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  color: #ffffff;
  line-height: 1.8;
}
.flex-1-content h1 {
  font-size: var(--fs-3);
}
.flex-1-content p {
  font-size: var(--fs-1);
}
.flex-1-content :nth-child(3) {
  font-size: var(--fs-1);
  margin-bottom: 2em;
}

.bold {
  color: var(--a-color-light);
}

.video-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.4s ease;
  z-index: -10;
  opacity: 0;
  display: grid;
  place-items: center;
}

.video-bg-visibility {
  z-index: 900;
  opacity: 1;
}

.video-modal {
  opacity: 0;
  z-index: -10;
  transition: all 0.4s ease;
  max-width: 60%;
}

.video-modal-visibility {
  z-index: 800;
  opacity: 1;
}

.image-video {
  width: 100%;
  height: 100%;
}

/* Page-2 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.page-2 {
  background: var(--a-color-dark);
}

.flex-2 {
  display: flex;
  flex-direction: column;
  width: max(90%);
  align-items: stretch;
  justify-content: center;
  padding: 6em 0;
}

.flex-2-head {
  flex: 1;
  text-align: center;
  margin-bottom: 1.5em;
}
.flex-2-head h3 {
  letter-spacing: 5px;
  font-weight: 600;
  font-size: var(--fs-3);
}

.benefit-sub {
  font-size: var(--fs-1);
}

.flex-2 img {
  height: max(4em);
  margin-bottom: 1.5em;
}

.flex-2-icon {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 1em;
}

.flex-2-icon div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  text-align: center;
}

.flex-2-icon h4 {
  font-weight: 400;
  font-size: var(--fs-1);
  margin-bottom: 0.2em;
}
.flex-2-icon p {
  opacity: 0.6;
  font-size: var(--fs-0);
}

/* Page-3 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.page-3 {
  background: var(--p-color-light);
}

.flex-3 {
  display: flex;
  flex-direction: column;
  width: max(90%);
  align-items: stretch;
  justify-content: center;
  padding-top: 6em;
}

.flex-3-head h3 {
  color: var(--a-color-dark);
  font-size: var(--fs-3);
  flex: 1;
  text-align: center;
  font-weight: 300;
  margin-bottom: 2em;
}

.flex-3-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.flex-3-icon div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.phone {
  width: 6em;
}

.phone-box {
  border-right: 1px solid var(--a-color-dark);
  padding-inline: 3%;
}

.laptop {
  width: 15em;
}

.laptop-box {
  padding-inline: 3%;
}

/* Page-4 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.page-4 {
  background: var(--p-color-light);
}

.flex-4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: max(90%);
  padding: 6em 0;
}

.flex-4 img {
  width: 40%;
}
.flex-4 .beige-square img {
  width: 2vw;
}

.quote-content {
  background: var(--a-color-dark);
  color: var(--p-color-light);
  width: 60%;
  position: relative;
  overflow: visible;
}
.quote-content h2 {
  font-size: var(--fs-1);
  font-weight: 300;
  letter-spacing: 4px;
}
.quote-content :nth-child(2) {
  font-size: var(--fs-2);
}
.quote-content :nth-child(3) {
  font-size: var(--fs-1);
  opacity: 0.4;
  margin-bottom: 15%;
}
.quote-content > * {
  margin: 5%;
}

.quote-content img:not(.beige-square img) {
  opacity: 0.05;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
  width: 40%;
}

.beige-square {
  width: 8vw;
  aspect-ratio: 1 / 1;
  background: var(--a-color-light);
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  transform: translateY(50%);
}

/* Page-5 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.page-5 {
  background: var(--p-color-light);
}

.flex-5 {
  display: flex;
  width: max(90%);
  align-items: center;
  justify-content: center;
  padding: 6em 0;
  color: var(--a-color-dark);
}

.flex-5-container h3 {
  color: var(--a-color-dark);
  flex: 1;
  font-size: var(--fs-3);
  font-weight: 500;
  margin-bottom: 1em;
}

.flex-5-container {
  text-align: center;
  border-left: 1px solid var(--a-color-light);
  border-right: 1px solid var(--a-color-light);
  padding-inline: 10%;
  font-size: var(--fs-1);
}

.flex-5-container div {
  margin-bottom: 1em;
  letter-spacing: 2px;
}

/* Page-6 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.flex-6 {
  background: var(--p-color-light);
  display: flex;
  width: max(90%);
}

.flex-6-form {
  background: var(--a-color-dark);
  color: var(--a-color-light);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.formular-map {
  flex: 1;
  background: var(--a-color-dark);
  display: flex;
  align-items: stretch;
}

.formular-map img {
  display: block;
  object-fit: cover;
  object-position: left;
  max-width: 80%;
}

.kontakthead {
  font-size: var(--fs-3);
  font-weight: 500;
}

.input-box {
  width: 100%;
}

#area-box {
  height: 15%;
}

/*Design Formular*/

input {
  width: 60%;
  border: none;
  border-bottom: 1px solid var(--a-color-light);
  outline: none;
  font-size: var(--fs-0);
  background: none;
  color: var(--p-color-light);
}

input::placeholder {
  color: var(--a-color-light);
}

input:focus {
  border-color: var(--p-color-light);
  color: var(--p-color-light);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--a-color-dark) inset !important;
  -webkit-text-fill-color: var(--p-color-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  text-transform: uppercase;
  font-size: var(--fs-0);
  margin-bottom: 1vh;
}

input,
label {
  display: block;
}

textarea {
  background: transparent;
  outline: 1px solid var(--a-color-light);
  resize: none;
  width: 60%;
  height: 80%;
  color: var(--p-color-light);
  margin-top: 1vh;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 1vh;
  font-size: var(--fs--1);
}

textarea:focus {
  outline: 1px solid var(--p-color-light);
}

textarea:focus::placeholder {
  opacity: 0;
}

textarea::-webkit-scrollbar {
  display: none;
}

.submit-btn {
  background: none;
  border: none;
  padding: 0.8em 3em;
  background-color: var(--a-color-light);
  color: var(--a-color-dark);
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  width: max-content;
  font-size: var(--fs--1);
}

.submit-btn.anim {
  display: inline-block;
  overflow: hidden;
}

.submit-btn.anim span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
  color: var(--a-color-dark);
}

.submit-btn.anim span::before {
  position: absolute;
  white-space: nowrap;
  top: 200%;
  content: attr(data-hover);
  color: var(--a-color-dark);
}

.submit-btn.anim:hover span,
.submit-btn.anim:focus span {
  transform: translateY(-200%);
}

.formular-subtext {
  color: var(--p-color-light);
  opacity: 0.6;
  font-size: var(--fs--1);
}

.input-box .error {
  color: #f8708b;
  font-size: 1rem;
  height: 15px;
}

.send-message {
  font-size: 1rem;
  color: var(--p-color-light);
  height: 15px;
  opacity: 0;
}

.send-message-anim {
  opacity: 1;
  animation: fade-out 1.5s linear 3s 1;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Page-7 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.page-7 {
  background: var(--p-color-light);
  padding-top: 6em;
}

.flex-7 {
  background: var(--a-color-dark);
  color: var(--p-color-light);
  width: max(90%);
  display: flex;
  flex-wrap: wrap;
}
.flex-7 > * {
  padding: 5%;
}
.flex-7 > * > * {
  width: fit-content;
}

.flex-7-head {
  width: 100%;
  border-bottom: 4px solid var(--p-color-light);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.kontakt-headline {
  color: var(--a-color-light);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 600;
  font-size: var(--fs-0);
}

.content-wrapper a {
  text-decoration: none;
  color: var(--p-color-light);
  transition: 0.2s all ease;
}

.content-wrapper a:hover {
  color: var(--a-color-light);
}

.content-wrapper h4,
.flex-7-head h4 {
  font-size: var(--fs-1);
  font-weight: 500;
}

.content-wrapper p,
.flex-7-head p {
  font-size: var(--fs-0);
}

/* Page-8 */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.flex-8 {
  display: flex;
  width: max(90%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--a-color-dark);
}

.logo-bottom {
  width: 8em;
  margin-top: 3em;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--a-color-dark);
  margin-block: 3em;
}

.socialcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-icons {
  background: var(--p-color-light);
  padding: 1vh;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s all ease;
  cursor: pointer;
}

.social-icons:hover {
  background: var(--a-color-dark);
}

#icon-right {
  margin-right: 1em;
}

.media-icon {
  width: 2em;
  height: auto;
}

.copy {
  margin-block: 3em;
  text-align: center;
  line-height: 1.8;
}

.copy a {
  text-decoration: none;
  transition: 0.2s all ease;
  color: var(--a-color-dark);
  font-weight: 600;
}
.copy a:hover {
  color: var(--a-color-light);
}

.endblock {
  width: 100%;
  height: 4vh;
  background: var(--a-color-dark);
}

/* JS Effects */

.effect {
  opacity: 0;
  transition: all 1.2s ease;
  transform: translateY(20vh);
}

.effect-visible {
  opacity: 1;
  transform: translateY(0vh);
}

/* Media Queries */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

/* Media Query - small devices */

@media screen and (width < 640px) {
  .tmg-top-head {
    display: none;
  }

  .menu ul li:after {
    display: none;
  }

  .menu a {
    color: var(--p-color-light);
  }

  .flex-0-poly {
    display: none;
  }

  .video-modal,
  .infovideo-modal {
    max-width: 100%;
  }

  .flex-2-icon {
    flex-direction: column;
  }

  .flex-2-icon div {
    padding-block: 3%;
  }

  .flex-3-icon {
    flex-direction: column;
  }

  .phone-box {
    border-right: none;

    padding-block: 3%;
    flex: 1;
  }

  .laptop-box {
    padding-block: 3%;
    flex: 1;
  }

  .quote-content img,
  .beige-square,
  .flex-4 img {
    display: none;
  }

  .quote-content {
    width: max(90%);
  }

  .formular-map {
    display: none;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .flex-7 {
    width: 90%;
    flex-direction: column;
  }
  .flex-7-head :nth-child(2),
  .flex-7-head :nth-child(3) {
    display: none;
  }
  .content {
    display: flex;
    justify-content: flex-start;
  }
  .social-icons:hover {
    background: var(--p-color-light);
  }
}

/* Media Query - small to medium devices (landscape) */

@media screen and (orientation: landscape) and (640px < width < 1024px) {
  header {
    padding: 5% 0;
  }

  .menu ul li:after {
    display: none;
  }

  .menu a {
    color: var(--p-color-light);
  }

  .tmg-top-head {
    display: none;
  }

  .flex-0-poly {
    display: none;
  }

  .flex-0-text h1 {
    font-size: var(--fs-3);
    margin-bottom: 0;
  }
  .flex-0-text p {
    font-size: var(--fs-0);
    margin-bottom: 2rem;
  }

  .flex-2-icon div {
    flex-basis: 50%;
    padding-block: 3%;
  }
  .quote-content img,
  .beige-square,
  .flex-4 img {
    display: none;
  }

  .quote-content {
    width: max(90%);
  }

  .formular-map {
    display: none;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}

/* Media Query - small to medium devices */

@media screen and (640px < width < 1024px) {
  .flex-2-icon div {
    flex-basis: 50%;
    padding-block: 3%;
  }

  .quote-content img,
  .beige-square,
  .flex-4 img {
    display: none;
  }

  .quote-content {
    width: max(90%);
  }

  .formular-map {
    display: none;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}

/* Media Query - small to medium devices (portrait) */

@media screen and (orientation: portrait) and (640px < width < 1024px) {
  .flex-0-poly {
    display: none;
  }
  .menu ul li:after {
    display: none;
  }

  .menu a {
    color: var(--p-color-light);
  }
}

/* Media Query - medium to mediam-large devices (landscape) */

@media screen and (orientation = landscape) and (1024px < width < 1440px) {
  .menu ul li:after {
    display: none;
  }

  .menu a {
    color: var(--p-color-light);
  }
}

/* Media Query - ultra wide devices */

@media only screen and (width > 2600px) {
  header {
    max-width: 1728px;
    margin-inline: auto;
  }

  .image-bg {
    max-width: 1728px;
    margin-inline: auto;
  }
  section {
    max-width: 1728px;
    margin-inline: auto;
  }

  .landing-polygon-01 {
    width: 14em;
    height: 24em;
  }
  .landing-polygon-02 {
    width: 18em;
    height: 38em;
  }
}
